@charset "utf-8";

#tieup {
	margin: 0 auto;
	text-align: center;   
	background: #fff;
    padding-bottom: 60px;
}

#tieup #general_reason,#tieup #step {
    width: 1200px;
    background: #F2F2F2;
    margin: 0 auto;
}

#tieup #step {
    padding-bottom: 35px;
}

#tieup #step p.mt80.mb30 img {
    padding-top: 20px;
}

p a .link {
	margin: 0 auto;
	display: block;
}