@charset "utf-8";

/* ============================================ [ テンプレートにつき編集不可 ] */
/* ========================= [ リセットcss ] */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font-size: 100%;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

img {
	border: 0;
	font-size: 100%;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	overflow-y: scroll;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

input,
textarea,
	{
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th {
	text-align: left;
}

a:focus {
	outline: none;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*\*/
	/*/
	height: auto;
	overflow: hidden;
	/**/
}

.both {
	clear: both;
}

.inline_block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}


/*====================================================================
    オープニング
====================================================================*/
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 2000;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
#boxAttention {
  position: fixed;
  top: 30%;
  left: 50%;
  cursor: pointer;
  z-index: 2001;
  background: url(../_img/attention.png) no-repeat;
  width: 730px;
  height: 508px;
  margin: -100px 0 0 -365px;
}


body {
	text-align: center;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

a:hover img.link {
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

/* ========================= [ #page ] */
#page {
	background: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* ============================================ [ 以下編集可能 ] */
/* ===== #navi */
#navi {
	background: #fff;
	border-bottom: 1px #ccc solid;
	height: 30px;
	margin: 0;
	padding: 0 20px;
}

#navi .logo {
	float: left;
	width: 92px;
}

/* ===== #copy */
#copy {
	background: #424242;
	border-top: 1px #ccc solid;
	color: #fff;
	font-size: 14px;
	padding: 10px 0;
	position: absolute;
	width: 100%;
}

#copy p {
	margin-bottom: 2px;
}

/* ========================= [ #main ] */
#main {
	min-width: 1040px;
	min-height: 500px;
}

/* ===== #head */
#main #head {
	background: radial-gradient( #fff, #f7f7f8, #e4e6ea, #d2d5dd , #d2d5dd ) fixed;
	min-width: 1040px;
}

#main #head .content-head {
	height: 637px;
	margin: 0 auto;
	position: relative;
	width: 1040px;
}

#main #head span {
	display: block;
	position: absolute;
	top: 80px;
}

#main #head h1 {
	left: 400px;
	position: relative;
	top: 3px;
	width: 510px;
}

#main #head h2 {
	left: 500px;
	position: relative;
	top: 70px;
	width: 520px;
}

#main #head p.tx-description__MainVisual {
	font-size: 12px;
	color: #000;
	position: absolute;
	text-align: left;
	bottom: 110px;
}

/*====================================================================
共通部分
====================================================================*/
#fixedBox {
	background: #fff;
	display: none;
	opacity: 0.95;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3000;
}

#top {
	margin: 19px auto;
	overflow: hidden;
	width: 1000px;
}

#top h1 {
	float: left;
	text-align: left;
	width: 240px;
}

#top nav {
	float: left;
	margin-left: 20px;
	width: 760px;
}

#top nav ul {
	overflow: hidden;
	width: 800px;
}

#top nav ul li {
	border-right: 1px solid #bfbfbf;
	float: left;
	font-size: 15px;
	line-height: 20px;
	width: 159px;
}

#top nav ul li a {
	color: #000;
	text-decoration: none;
}

#top nav ul li a:hover {
	opacity: 0.8;
}

/******************共通部分のタイアップ用ここから
***************************************************/
.firstBtn_tieup {
	padding-top: 80px;
}

#top #tieup_logo {
	float: left;
	margin-left: 10px;
	text-align: left;
	width: 186px;
}

/******************共通部分のタイアップ用ここまで
***************************************************/
/* ========================= [ .ekyc ] */

#lp_ekyc {
	widows: 800px;
	margin: 40px 0 108px
}
.lp_ekyc_h1_come {
	font-size: 1.5rem;
	right: 24%;
}
#lp_ekyc h1{
	font-size: 44px;
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
}
#lp_ekyc h2 {
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 10px;
}
.lp_ekyc_ex p{
	font-size: 0.9rem;
	text-align: left;
}
.lp_ekyc_ex {
	width: 800px;
	display: block;
	margin: 0 auto;
}


#lp_ekyc img {
	width: 800px;
	padding: 3%;
}
/* ========================= [ .ekyc_end ] */
/* ===== #content */
#main #content {
	min-width: 1040px;
	overflow: hidden;
	width: 100%;
}

/* ===== #️camp　.area-bnr-acor */

.bnrArea {
	margin-top: 60px;
}

#main #content .area-bnr-acor {
	margin: 40px 0 108px;
}

#main #content #camp_flow {
	background-color: #f7f7f7;
	margin-top: 46px;
}

#main #content #camp_flow .content-camp_flow {
	margin: 0 auto;
	padding: 83px 0 90px;
	position: relative;
	width: 940px;
	z-index: 1;
}

#main #content #camp_flow .content-camp_flow:before {
	border-color: transparent transparent #f7f7f7 transparent;
	border-style: solid;
	border-width: 0 50px 50px;
	content: "";
	height: 0;
	left: 450px;
	position: absolute;
	top: -26px;
	width: 0;
	z-index: -1;
}

#main #content #camp_flow .content-camp_flow h1 {
	font-size: 44px;
	line-height: 44px;
	margin-bottom: 50px;
}

#main #content #camp_flow .content-camp_flow .fig-camp-flow {
	margin: 0 auto 85px;
	position: relative;
	width: 940px;
}

#main #content #camp_flow .content-camp_flow .fig-camp-flow::before {
	content: url(../_img/bg_fxcamp_line.png);
	left: 0;
	position: absolute;
	top: -17px;
}

#main #content #camp_flow .content-camp_flow ul {
	overflow: hidden;
	padding: 20px 0;
}

#main #content #camp_flow .content-camp_flow ul li {
	float: left;
}

#main #content #camp_flow .content-camp_flow ul li:first-child {
	margin-left: 40px;
}

#main #content #camp_flow .content-camp_flow ul li:nth-child(2) {
	margin-left: 60px;
}

#main #content #camp_flow .content-camp_flow ul li:last-child {
	margin-left: 78px;
}

#main #content #camp_flow .content-camp_flow ul li p {
	margin-top: 10px;
	margin-left: -34px;
}

#main #content #camp_flow .content-camp_flow ul li a {
	color: #11cfff;
	font-size: 18px;
	padding-bottom: 1px;
	position: relative;
	text-decoration: none;
}

#main #content #camp_flow .content-camp_flow ul li a:after {
	content: url(../_img/ico_txplus_small.png);
	position: absolute;
	right: -20px;
	top: -2px;
}

#main #content #camp_flow .content-camp_flow ul li a:hover {
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	border-bottom: solid 1px;
	transition: 0.3s ease-in-out;
}

#main #content #camp_flow .content-camp_flow .capt-apply {
	font-size: 26px;
	margin: 25px 0 10px;
}

#main #content #camp_flow .content-camp_flow .tx-cache-back {
	font-size: 38px;
	margin: 15px 0;
}

#main #content #camp_flow .content-camp_flow .tx-cache-back span.tx-equal {
	font-size: 31px;
	margin-right: 5px;
}

#main #content #camp_flow .content-camp_flow .tx-cache-back span.tx-max {
	color: #8bc400;
	font-size: 19px;
}

#main #content #camp_flow .content-camp_flow .tx-cache-back span.tx-price {
	color: #8bc400;
	font-size: 54px;
}

/* ===== .area-reason */
#main #content .area-reason h1 {
	font-size: 44px;
	margin-bottom: 90px;
	text-align: center;
}

#main #content .area-reason .wrap-ico-reason {
	height: 80px;
	margin: 10px auto 0;
	position: relative;
	width: 1040px;
}

#main #content .area-reason .content-reason {
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0 72px;
	position: relative;
	width: 1040px;
}

#main #content .area-reason .content-reason .wrap-delay {
	margin-top: 10px;
	position: relative;
}

#main #content .area-reason .wrap-ico-reason li {
	display: inline-block;
	opacity: 0;
	padding-top: 10px;
	position: relative;
}

/* 画面内に入った状態 */
#main #content .area-reason .wrap-ico-reason img {
	vertical-align: text-top;
}

#main #content .area-reason .wrap-ico-reason li {
	display: inline-block;
	height: 80px;
	margin: 0 auto;
	vertical-align: middle;
	width: 254px;
}

#main #content .area-reason .content-reason dl {
	display: table-cell;
	margin: 0 auto;
	width: 260px;
}

#main #content .area-reason .content-reason dl dt {
	font-size: 20px;
	margin-bottom: 20px;
}

#main #content .area-reason .content-reason dl dd.detail-reason {
	font-size: 16px;
	line-height: 25px;
	margin: 25px 0 6px;
}

#main #content .area-reason .content-reason dl dd.bt-detail-reason a {
	border-bottom: solid 1px;
	color: #11cfff;
	font-size: 15px;
	margin-right: 5px;
	padding-bottom: 1px;
	position: relative;
	text-decoration: none;
}

#main #content .area-reason .content-reason dl dd.bt-detail-reason a:after {
	content: url(../_img/ico_txdown.gif);
	position: absolute;
	right: -15px;
	top: -5px;
}

#main #content .area-reason .content-reason dl dd.bt-detail-reason a:hover:after {
	-moz-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	-webkit-transition: 0.4s ease-in-out;
	top: -3px;
	transition: 0.4s ease-in-out;
}

/* ===== .mainbox-reason共通 */
dl.mainbox-reason dt {
	font-size: 44px;
	line-height: 54px;
}

dl.mainbox-reason dd {
	font-size: 18px;
	letter-spacing: -1.5px;
	line-height: 30px;
}

#main #content p.bt-detail-spread a {
	color: #11cfff;
	font-size: 15px;
	padding-bottom: 1px;
	position: relative;
	text-decoration: none;
}

#main #content p.bt-detail-spread a:after {
	content: url(../_img/ico_txplus_small.png);
	position: absolute;
	right: -25px;
	top: -2px;
}

#main #content p.bt-detail-spread a:hover {
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	border-bottom: solid 1px;
	transition: 0.3s ease-in-out;
}

/* ===== .mainbox-reason共通 ここまで*/

/* ===== .area-spread */
#main #content .area-spread {
	background: url(../_img/img_spread_phone_02.jpg) top 100px right no-repeat;
	/*変更*/
	margin: 70px auto 0px;
	padding: 30px 0 95px;
	width: 1040px;
}

#main #content .area-spread dl.content-spread {
	padding-top: 80px;
	width: 640px;
}

#main #content .area-spread dl.content-spread dt {
	margin-bottom: 20px;
	text-align: center;
}

#main #content .area-spread dl.content-spread dd {
	margin: 0 0 20px 20px;
	width: 640px;
}

#main #content .area-spread dl.caution-spread {
	text-align: left;
	width: 640px;
}

#main #content .area-spread dl.caution-spread dt {
	font-size: 12px;
	margin: 10px 0 14px;
}

#main #content .area-spread dl.caution-spread dd {
	font-size: 12px;
	line-height: 1.5;
}

#main #content .area-spread p.bt-detail-spread {
	margin-left: 480px;
	width: 200px;
}

/* ===== .area-point */
#main #content .area-point {
	margin: 0 auto 200px;
	position: relative;
	text-align: left;
	width: 1040px;
	z-index: 0;
}

#main #content .area-point:before {
	content: url(../_img/bg_point_phone_02.jpg);
	left: -390px;
	position: absolute;
	top: 13px;
	z-index: -1;
}

#main #content .area-point .content-point {
	margin-left: 617px;
}

#main #content .area-point .content-point dt {
	margin-bottom: 28px;
}

#main #content .area-point p.bt-detail-spread {
	margin: 3px 0 0 920px;
	width: 200px;
}

/* ===== .area-news */
#main #content .area-news {
	margin: 0 auto 75px;
	position: relative;
	text-align: left;
	width: 1040px;
	z-index: 0;
}

#main #content .area-news:after {
	content: url(../_img/img_news_phone.jpg);
	left: 660px;
	position: absolute;
	top: -68px;
	z-index: -1;
}

#main #content .area-news .content-news {
	margin-left: 56px;
}

#main #content .area-news .content-news dt {
	margin-bottom: 28px;
}

#main #content .area-news .content-news dd {
	margin-left: 5px;
}

#main #content .area-news .content-news dd.tx-news {
	margin: 34px 0 43px 10px;
}

#main #content .area-news .about-spread {
	margin-left: 66px;
}

#main #content .area-news .about-spread dt span {
	border-bottom: solid 1px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 10px;
	text-decoration: none;
}

#main #content .area-news .about-spread dd {
	font-size: 13px;
	line-height: 20px;
	margin-top: 20px;
}

/* ===== .area-commission */
.wrap-commission {
	background-color: #f7f7f7;
	margin-bottom: 130px;

}

.area-commission {
	background: url(../_img/tx_commission_zero.png) top 130px right 144px no-repeat;
	margin: 50px auto;
	padding: 123px 0;
	position: relative;
	text-align: left;
	width: 1040px;
	z-index: 0;
}

#main #content .area-commission .content-commission {
	margin-left: 107px;
}

#main #content .area-commission .content-commission dd:nth-child(2) {
	font-size: 26px;
	margin: 40px 0 27px 5px;
}

#main #content .area-commission .content-commission dd:nth-child(3) {
	overflow: hidden;
}

#main #content .area-commission .content-commission dd ul {
	float: left;
	font-size: 18px;
	position: relative;
}

#main #content .area-commission .content-commission dd ul:nth-child(2) {
	margin-left: 23px;
}

#main #content .area-commission .content-commission dd ul li {
	margin: 0 0 15px 40px;
	position: relative;
}

#main #content .area-commission .content-commission dd ul li:before {
	content: url(../_img/ico_commission_check.png);
	left: -32px;
	position: absolute;
	top: 5px;
	z-index: -1;
}

#main #content .area-commission .content-commission dd ul:nth-child(2) li:last-child:before {
	content: none;
}

/* ===== .wrap-tool 共通*/
#main #content .wrap-tool {
	padding-top: 95px;
}

#main #content .wrap-tool .area-trade {
	padding-top: 50px;
	position: relative;
}

#main #content .wrap-tool section > .capt-trade h2 {
	font-size: 50px;
	line-height: 70px;
	margin-bottom: 22px;
	text-align: center;
}

#main #content .wrap-tool section > .capt-trade .tx-capt-trade {
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}

/* ===== アプリあり */
#main #content .wrap-tool section > .content-trade-app {
	font-size: 0;
	margin: 110px 0 240px 0;
	text-align: left;
	width: 520px;
}

#main #content .wrap-tool section > .content-trade-app > dt {
	font-size: 44px;
	line-height: 60px;
	margin-bottom: 15px;
	position: relative;
	text-align: center;
}

#main #content .wrap-tool section > .content-trade-app > dd {
	font-size: 17px;
	line-height: 30px;
	text-align: center;
}

#main #content .wrap-tool .area-app {
	bottom: 150px;
	left: 64px;
	position: absolute;
}

#main #content .wrap-tool .area-app .content-app dl dt {
	font-size: 28px;
}

#main #content .wrap-tool .area-app .content-app dl dd {
	color: #717171;
	font-size: 14px;
}

#main #content .wrap-tool .area-app .content-app ul li {
	display: inline-block;
	margin-top: 23px;
}

#main #content .wrap-tool .area-app .content-app ul li:last-child {
	margin-left: 60px;
}

#main #content .wrap-tool .area-app .content-app ul li a {
	display: block;
}

#main #content .wrap-tool .area-app .content-app ul li a:hover {
	opacity: 0.8;
}

/* ===== アプリなし */
#main #content .wrap-tool section > .content-trade {
	font-size: 0;
	margin: 190px 0 120px 0;
	text-align: left;
	width: 500px;
}

#main #content .wrap-tool section > .content-trade > dt {
	font-size: 44px;
	line-height: 60px;
	margin-bottom: 15px;
	text-align: center;
}

#main #content .wrap-tool section > .content-trade > dd {
	font-size: 17px;
	line-height: 30px;
	text-align: center;
}

#main #content .wrap-tool .area-trade .img-trade {
	position: absolute;
	right: -370px;
	top: 270px;
}

#main #content .wrap-tool .arrow-trade {
	color: #56afb8;
	font-size: 23px;
	font-weight: normal;
	padding-bottom: 50px;
	position: relative;
}

#main #content .wrap-tool .arrow-trade::before {
	background: url(../_img/ico_arrow.png)top center no-repeat;
	content: "";
	height: 13px;
	left: 510px;
	position: absolute;
	top: 40px;
	width: 27px;
}

/* ===== .wrap-tool 共通 ここまで*/

/* ===== .area-trade */
#main #content .area-trade {
	margin: 0 auto;
	width: 1040px;
}

#main #content .area-trade dl dd img {
	margin-top: 10px;
}

/* ===== .area-market */
.area-market {
	background: #fff;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 5px;
	left: -5px;
}

.area-market .content-market {
	margin: 15px auto 0;
	width: 1040px;
}

.bx-wrapper {
	margin: 0 auto !important;
}

.bx-wrapper .bx-pager {
	padding: 0 !important;
	z-index: 300;
}

.bx-wrapper .bx-viewport {
	background: #fff;
	border: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	height: 570px !important;
	left: 0 !important;
}

.bx-wrapper .bx-prev {
	background: url(../_img/bt_slider_left.jpg)top center no-repeat !important;
	left: 0 !important;
}

.bx-wrapper .bx-next {
	background: url(../_img/bt_slider_right.jpg)top center no-repeat !important;
	right: 0 !important;
}

.bx-wrapper .bx-controls-direction a {
	height: 550px !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 40px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #56afb8 !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff !important;
	border: 1px solid #a0a0a0;
	border-radius: 10px !important;
	height: 12px !important;
	width: 12px !important;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	bottom: 20px !important;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-next:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.area-market dl dd {
	margin-bottom: 30px;
}

.area-market ul li {
	display: table;
	font-size: 0;
	height: 590px;
	line-height: 0;
	padding: 0 0 20px;
	width: 100%;
}

.area-market ul li > div {
	margin: 0 auto;
	position: relative;
	width: 930px;
}

.area-market ul li > div .point-market {
	color: #56afb8;
	font-size: 22px;
	line-height: 22px;
	position: absolute;
}

.area-market ul .side-content-01 > div .point-market {
	left: 425px;
	top: 80px;
}

.area-market ul .line-content > div .point-market {
	left: 170px;
	top: 40px;
}

.area-market ul .side-content-02 > div .point-market {
	left: 425px;
	top: 80px;
}

.area-market ul li.side-content span {
	display: table-cell;
	left: 95px;
	position: relative;
	top: 20px;
	vertical-align: middle;
	width: 465px;
}

.area-market ul .side-content dl {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	width: 542px;
}

.area-market ul li dl dt {
	font-size: 36px;
	line-height: 50px;
	margin-bottom: 30px;
}

.area-market ul li dl dd {
	font-size: 18px;
	line-height: 32px;
}

.area-market ul .side-content dl dt {
	margin-top: 40px;
}

.area-market ul li.line-content > div {
	margin-top: 30px;
}

.area-market ul li.line-content dl {
	text-align: center;
}

.area-market ul .line-content dt {
	margin: 0 0 30px 120px;
}

.area-market ul li.line-content dl dd {
	font-size: 18px;
	line-height: 32px;
}

.area-market ul li.line-content span {
	display: block;
	left: 9px;
	margin: 0 auto;
	position: relative;
	top: 10px;
	width: 624px;
}

.area-market ul li.line-content span img {
	left: 14px;
	position: absolute;
	top: -30px;
}

.area-market ul li div .area-video_01 {
	background-color: #fff;
	height: 453px;
	left: 112px;
	position: absolute;
	top: 53px;
	width: 223px;
}

.area-market ul li div .area-video_01 p {
	position: absolute;
	z-index: 20;
}

.area-market ul li div .area-video_01 video {
	height: 477px;
	position: relative;
	top: -12px;
	left: -1px;
	width: 100%;
}

.area-market ul li div .area-video_01 p img,
.area-market ul li div .area-video_02 p img,
.area-market ul li div .area-video_03 p img {
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

.area-market ul li div .area-video_01 p img:hover,
.area-market ul li div .area-video_02 p img:hover,
.area-market ul li div .area-video_03 p img:hover {
	opacity: .8;
	-webkit-opacity: .8;
	-moz-opacity: .8;
	filter: alpha(opacity=80);
	/* IE lt 8 */
	-ms-filter: "alpha(opacity=80)";
	/* IE 8 */
}

.area-market ul li div .area-video_02 {
	left: 235px;
	top: 222px;
	position: absolute;
}

.area-market ul li div .area-video_02 p {
	background-color: #000;
	display: block;
	position: absolute;
	z-index: 20;
	top: 0px;
	width: 472px;
	left: -2px;
}

.area-market ul li div .area-video_02 video {
	height: 240px;
	position: relative;
	top: 1px;
	left: -3px;
}

.area-market ul li div .area-video_03 {
	height: 389px;
	left: 137px;
	position: absolute;
	top: 75px;
	width: 220px;
}

.area-market ul li div .area-video_03 p {
	background: #fff;
	position: absolute;
	z-index: 20;
	top: -45px;
	left: -34px;
}

.area-market ul li div .area-video_03 video {
	height: 445px;
	left: -23px;
	position: relative;
	top: -17px;
}

/* ===== .area-system */
#main #content .area-system {
	margin: 110px auto;
	position: relative;
	width: 1040px;
}

#main #content .area-system > dl dt {
	font-size: 44px;
	line-height: 60px;
	margin-bottom: 15px;
	text-align: center;
}

#main #content .area-system ul {
	margin: 67px 0 72px;
	overflow: hidden;
}

#main #content .area-system ul li {
	float: left;
	width: 346px;
}

#main #content .area-system ul li dt {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 31px;
}

#main #content .area-system ul li dd.property-system {
	font-size: 19px;
	margin-top: 15px;
}

#main #content .area-system ul li dd.detail-system {
	color: #777777;
	font-size: 14px;
	margin: 15px 0 26px;
}

#main #content .area-system ul li dl dd.bt-system {
	margin-left: -10px;
}

#main #content .area-system ul li dl dd.bt-system a {
	color: #11cfff;
	font-size: 15px;
	padding-bottom: 1px;
	position: relative;
	text-decoration: none;
}

#main #content .area-system ul li dd.bt-system a:after {
	content: url(../_img/ico_txplus_small.png);
	position: absolute;
	right: -25px;
	top: -2px;
}

#main #content .area-system ul li dd.bt-system a:hover {
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	border-bottom: solid 1px;
	transition: 0.3s ease-in-out;
}

#fancybox-img {
	border: 2px solid #f7f7f7;
	box-sizing: border-box;
	padding: 15px;
}

/* ===== .area-safty */
#main #content .area-safty {
	background-color: #f7f7f7;
	margin: 100px auto 0;
	padding: 102px 0 55px;
	width: 1040px;
}

#main #content .area-safty ul {
	margin: 0 auto;
	overflow: hidden;
	width: 940px;
}

#main #content .area-safty ul li:first-child {
	margin-right: 18px;
}

#main #content .area-safty ul li {
	float: left;
}

.h1_come {
	font-size: 1rem;
}

/* ===== .area-quick */
#main #content .area-quick {
	background-color: #f7f7f7;
	margin: 60px auto;
	padding: 102px 0 55px;
	width: 1040px;
}

#main #content .area-quick h2 {
	font-size: 24px;
}

#main #content .area-quick p {
	color: #3e3e3e;
	font-size: 14px;
	line-height: 30px;
}

#main #content .area-quick p span {
	color: #3e3e3e;
	display: block;
	font-size: 11px;
	line-height: 18px;
}

#main #content .area-quick dl {
	background-color: #fff;
	margin: 0 auto;
	padding: 50px 0;
	width: 940px;
}

#main #content .area-quick div dl dt {
	font-size: 24px;
}

#main #content .area-quick div dl dd.tx-quick {
	font-size: 14px;
	margin: 31px 0 27px;
}

.h1_ex {
	font-size: 3.3rem;
	font-weight: 400;
}

/* ===== .area-support */
#main #content .wrap-support {
	background-color: #f7f7f7;
	padding: 128px 0 113px;
}

#main #content .area-support {
	margin: 0 auto;
	width: 1040px;
}

#main #content .area-support a:hover img {
	opacity: 0.8;
}

#main #content .area-support h2 {
	font-size: 18px;
}

#main #content .area-support .tx-tell {
	margin: 27px 0;
}

#main #content .area-support .bt-mail {
	margin: 25px 0 35px;
}

#main #content .area-support .area-line {
	background: url(../_img/img_support_linephone.jpg) top 61px right 135px no-repeat #fff;
	margin: 0 auto;
	padding: 76px 0 67px;
	width: 940px;
}

#main #content .area-support .area-line .capt-line {
	font-size: 33px;
	line-height: 43px;
	margin-left: 236px;
	position: relative;
	text-align: left;
}

#main #content .area-support .area-line .capt-line::before {
	content: url(../_img/img_lineicon.gif);
	left: -90px;
	position: absolute;
	top: 4px;
}

#main #content .area-support .area-line .tx-line {
	font-size: 14px;
	margin: 10px 145px 18px;
	text-align: left;
}

#main #content .area-support .area-line ul {
	margin: 0 0 14px 259px;
	overflow: hidden;
}

#main #content .area-support .area-line ul li {
	float: left;
	font-size: 16px;
}

#main #content .area-support .area-line ul li:last-child {
	color: #3e3e3e;
	font-weight: bold;
	margin-left: 13px;
}

#main #content .area-support .area-line p.bt-line-support {
	margin-left: 237px;
	position: relative;
	text-align: left;
}

#main #content .area-support .area-line p.bt-line-support::before {
	content: url(../_img/img_support_lineqr.jpg);
	left: -96px;
	position: absolute;
	top: -42px;
}

#main #content .area-support .area-line .bt-line-detail {
	margin: 12px 0 0 212px;
}

#main #content .area-support .area-line .bt-line-detail a {
	color: #11cfff;
	font-size: 15px;
	padding-bottom: 1px;
	position: relative;
	text-decoration: none;
}

#main #content .area-support .area-line .bt-line-detail a:after {
	content: url(../_img/ico_txplus_small.png);
	position: absolute;
	right: -25px;
	top: -2px;
}

#main #content .area-support .area-line .bt-line-detail a:hover {
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	border-bottom: solid 1px;
	transition: 0.3s ease-in-out;
}

/* ===== .area-shortest */
.detail-shortest_span {
font-size: 0.8rem;
	line-height: 0;
}
#main #content .area-shortest {
	padding: 130px 0 0;
}

#main #content .area-shortest h1 {
	font-size: 44px;
	text-align: center;
}

#main #content .area-shortest h2 {
	font-size: 2rem;
	margin: 40px 0 30px;
	text-align: center;
}

#main #content .area-shortest .ico-shortest,
#main #content .area-shortest .content-shortest {
	margin: 0 auto;
	overflow: hidden;
	width: 1040px;
}

.content-shortest_sub{
	font-size: 0.9rem;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#main #content .area-shortest .content-shortest {
	margin-bottom: 72px;
}

#main #content .area-shortest .ico-shortest {
	height: 80px;
	margin-bottom: 20px;
}

#main #content .area-shortest .ico-shortest li {
	opacity: 0;
	padding-top: 10px;
	position: relative;
}

#main #content .area-shortest .ico-shortest li::after {
	content: url(../_img/ico_flow_arrow.png);
	position: absolute;
	right: 0;
	top: 24px;
}

/* 画面内に入った状態 */
#main #content .area-shortest .ico-shortest img {
	vertical-align: text-top;
}

#main #content .area-shortest .ico-shortest li {
	display: inline-block;
	margin: 0 auto;
	vertical-align: middle;
	width: 254px;
}

#main #content .area-shortest .content-shortest dl {
	float: left;
	margin: 0 auto;
	width: 260px;
}

#main #content .area-shortest .content-shortest dl dt {
	font-size: 20px;
}

#main #content .area-shortest .content-shortest dl dd {
	color: #717171;
	font-size: 16px;
	line-height: 25px;
	margin-top: 16px;
}

/* ===== .area-footer */
#main #content .wrap-footer {
	background-color: #f7f7f7;
	padding: 113px 0 90px;
	margin-top: 5%;
}

#main #content .area-footer {
	margin: 0 auto;
	text-align: left;
	width: 1040px;
}

#main #content .area-footer h1 {
	margin: 0 0 90px 20px;
}

#main #content .area-footer .each-content-footer {
	border-bottom: 1px solid #dcdcdc;
	font-size: 14px;
	margin: 0 auto;
	padding: 34px 0;
	width: 997px;
}

#main #content .area-footer .each-content-footer dl {
	line-height: 28px;
	overflow: hidden;
}

#main #content .area-footer .each-content-footer dl dt {
	color: #272727;
	float: left;
	width: 165px;
}

#main #content .area-footer .each-content-footer dl dd {
	color: #717171;
	float: left;
}

#main #content .area-footer .each-content-footer dl dd a {
	color: #717171;
	text-decoration: underline;
}

#main #content .area-footer .each-content-footer .conference-footer {
	margin-bottom: 30px;
}

#main #content .area-footer .each-content-footer dl.cfd-footer {
	margin: 7px 0;
}

#main #content .area-footer .caution-footer {
	color: #3e3e3e;
	font-size: 14px;
	margin: 0 auto;
	padding: 45px 0 0;
	width: 997px;
}

#main #content .area-footer .caution-footer p:last-child {
	line-height: 26px;
	margin-top: 40px;
}

#main #content .area-footer .pmark-footer {
	text-align: center;
	margin-top: 30px;
}

/* ===== 共通 */
#main #content h1.ttl {
	font-size: 44px;
	line-height: 1.3;
	padding: 0 0 35px;
}

#main #content p.tx {
	color: #3e3e3e;
	font-size: 14px;
	line-height: 30px;
	margin: 36px auto;
	text-align: left;
	width: 940px;
}

/*====== .update*/
#main #content .update {
	float: right;
}

/* ===== .bt-regist */

.bt-regist_wrap {
	background-color: #86bb23;
	color: #fff;
	text-decoration: none !important;
	display: inline-block;
	width: 730px;
	margin-top: 10px;
	box-shadow: 0px 5px 0px 0 rgba(0, 0, 0, 0.1);
}

.bt-regist_wrap :hover {
	opacity: 0.8;
	background-color: #a1ce4c;
}

.bt-regist_inner {
	font-size: 2.2rem;
	font-weight: bold;
	padding: 20px;
}

.bt-regist_inner p {
	font-size: 1.4rem;
}

.bt-regist_inner_arrow {
	position: relative;
	margin-right: 7px;
	margin-left: 7px;
	display: inline-block;
	border: 1px solid #fff;
	width: 70px;
	margin-bottom: 5px;

}

.bt-regist_inner_arrow:before {
	content: '';
	width: 10px;
	height: 10px;
	border: 0px;
	border-top: solid 2px #fff;
	border-right: solid 2px #fff;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	left: 59px;
	margin-top: -6px;
}

.bt-regist {
	margin-bottom: 100px;
}

.bt-regist a {
	display: block;
	margin: 0 auto;
	width: 734px;
}

.bt-regist a:hover {
	opacity: 0.8;
}

#page-top {
	bottom: 30px;
	position: fixed;
	right: 3px;
	z-index: 30;
}

#page-top a {
	display: block;
	height: 70px;
	width: 70px;
}

.pmark-footer {
	text-align: center;
}
/* ===== #info */
.c-info {
	width: 1040px;
	margin: 30px auto;
	text-align: left;
	padding: 20px;
	border: 1px solid #f1085a;
}
.c-info h2 {
	font-weight: bold;
	margin-bottom: 10px;
}
.c-info .c-text {
	margin: 10px 0;
	font-size: 14px;
}
.c-info .c-alignment {
	font-size: 12px;
}

/* ===== .inquiry */
#tieupCamp-detail .inquiry strong {
font-size: inherit;
    display: inherit;
    text-align: left;
    margin: inherit;
}
.inquiry strong {
font-size: 20px;
    display: table;
    text-align: center;
    margin: 0 auto;
}
#TB_ajaxContent .inquiry span {
        color: #ff0000 !important;
    font-weight: normal !important;
    font-size: 13px;
    line-height: 1.4;
	padding: 0;
}
